.main {
  background-color: #0d0d0d;
  padding: 4em;
}

.titleH2,
.titleH3 {
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "paytone-one";
  color: var(--color-yellow);
  margin: 1.2em 0 0.5em 0;
}

.titleH2 {
  font-size: 3em;
}

.titleH3 {
  font-size: 2em;
}

.banner {
  width: 100%;
}

.usersList {
  border: 2px solid var(--color-blue);
  border-radius: 1em;
  padding: 2em;
}

.button {
  border-radius: 1em;
  width: 16em;
  height: 2.1em;
  border: none;
  color: white;
  font-size: 1em;
  background-color: var(--color-blue);
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "raleway-regular";
}
