* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: rgb(13, 72, 160);
  --color-yellow: rgb(255, 236, 61);
}

@font-face {
  font-family: "paytone-one";
  src: url(./assets/font/paytone-one-regular.ttf);
}

@font-face {
  font-family: "josefin-sans";
  src: url(./assets/font/josefin-sans.ttf);
}
