.button {
  border-radius: 1em;
  width: 11em;
  height: 1.7em;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 1em;

  margin: auto auto;
  background-color: var(--color-yellow);
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "raleway-regular";
}
