.titleH2 {
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "paytone-one";
  color: var(--color-blue);
}

.list {
  list-style: none;
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "raleway-regular";
  font-size: 1.2em;
}
